{% load static %}

<div class="block request">
    <div class = 'name-block'>
        <div class="block-side-info">
            <img src="{% static 'images/friends.png' %}" alt="">
            <h2>Запити</h2>
        </div>

        <h3 id="show-request">Дивитись всі</h3>
    </div>
    {% for request in first_three_requests %}
        <div class="example-request">
            <div class="profile-img"></div>
            {{ request.first_name}}
        </div>
    {% endfor %}
</div>

<div  class="block friends">
    <div class = 'name-block'>
        <div class="block-side-info">
            <img src="{% static 'images/chats.png' %}" alt="">
            <h2>Друзі</h2>
        </div>
        
        <h3 id="show-friends">Дивитись всі</h3>
    </div>
    {% for friend in first_three_friends%}
        <div class="example-friends">
            <div class="profile-img"></div>
            {{ friend.first_name}}
        </div>
    {% endfor %}
</div>