.modal-window{
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0;
    z-index: 999;
}

.modal-info{
    width: clamp(0px, 25vw, 500px);
    height: clamp(0px, 50vh, 500px);
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: clamp(0px, 2vh, 30px);
    border-radius: 20px;
}

.modal-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-form-div{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.modal-form p{
    font-family: "GTWalsheimPro";
    display: flex;
    flex-direction: column;
    gap: clamp(0px, 1vh, 17px);
}

.modal-form button{
    width: clamp(0px, 10vw, 200px);
    height: clamp(0px, 4vh, 35px);
    border-radius: 1234px;
    background-color: #543C52;
    color: white;
    border: 0px;
    font-family: 'GTWalsheimPro';
}

.modal-form p input{
    height: clamp(0px, 4vh, 50px);
    width: clamp(0px, 20vw, 400px);
    border-radius: 10px;
    border: 2px solid #CDCED2;
}

.error{
    font-family: 'GTWalsheimPro';
}