.post-modal-window {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0;
    z-index: 999;
}

#id_name{
    height: clamp(0px, 4vh, 50px);
    width: clamp(0px, 20vw, 400px);
    border-radius: 10px;
    border: 2px solid #CDCED2;
    display: flex;
    justify-content: left;
}

.post-modal-info{
    width: clamp(0px, 45vw, 940px) !important;
    height: clamp(0px, 90vh, 972px) !important;
    background-color: white;
    display: flex;
    justify-content:flex-start;
    align-items: top;
    flex-direction: column;
    gap: 2vh;
    border-radius: 20px;
    padding: clamp(0px, 1.5vh, 25px);
    overflow-y: auto;
}

.post-modal-form{
    width: clamp(0px, 45vw, 940px);
    display: flex;
    flex-direction: column;
    gap: clamp(0px, 1.5vh, 30px);
}

.post-modal-form-div{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: normal;
}

.post-modal-form p{
    font-family: "GTWalsheimPro";
    display: flex;
    flex-direction: column;
    gap: clamp(0px, 1vh, 17px);
}

#id_title{
    height: clamp(0px, 4vh, 50px);
    width: clamp(0px, 20vw, 400px);
    border-radius: 10px;
    border: 2px solid #CDCED2;
    display: flex;
    justify-content: left;
}

#id_topic{
    height: clamp(0px, 4vh, 50px);
    width: clamp(0px, 20vw, 400px);
    border-radius: 10px;
    border: 2px solid #CDCED2;
    display: flex;
    justify-content: left;
}

.post-div{
    width: 100%;
    height:  clamp(0px, 8vh, 160px);
    background-color: white;
    border: 2px solid #CDCED2;
    border-radius: 10px
    
}

.post-div-text{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: left;

}

.post-div-button{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: right;
    align-items: center;
}

.post-button-exit{
    width: 97%;
    display: flex;
    flex-direction: row;
    justify-content: right;

}

.post-button-exit button{
    background: none;
    border: none;
}

#id_tags{
    display: flex;
    flex-direction: row;
    gap: clamp(0px, 0.5vw, 10px);
    flex-wrap: wrap;
    row-gap: clamp(0px, 2vh, 40px);
}

#id_tags input{
    display: none;
}

#id_tags label{
    background-color: #E9E5EE;
    color: #543C52;
    border-radius: 6px;
    cursor: pointer;
    padding: 5px;
    font-family: 'GTWalsheimPro';
}

.is-active {
    background-color: #543C52 !important;
    color: #FFFFFF !important;
}

#post-textarea{
    width: 100%;
    height: 100%;
}

.confirm-post-button{
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    gap: clamp(0px, 0.5vw, 10px);
}

.confirm{
    width: clamp(0px, 5vw, 100px) !important;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: clamp(0px, 0.2vw, 4px);
    height: clamp(0px, 4vh, 35px);
    border-radius: 1234px;
    background-color: #543C52;
    color: white;
    border: 0px;
    font-family: 'GTWalsheimPro';
    font-size: clamp(0px, 0.8vw, 0.85rem)
}

.back{
    width: clamp(0px, 5vw, 100px) !important;
    display: flex;
    justify-content: center;
    align-items: center;
    height: clamp(0px, 4vh, 35px);
    border-radius: 1234px;
    background-color: white;
    border: 1px solid black;
    font-family: 'GTWalsheimPro';
}

.confirm-tag-button {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    gap: clamp(0px, 0.2vw, 4px);
}

.post-list-links{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: clamp(0px, 0.2vw, 4px);
    flex-wrap: wrap;
    width: 60%;
}

.post-list-links input {
    height: clamp(0px, 4vh, 50px);
    width: clamp(0px, 20vw, 400px);
    border-radius: 10px;
    border: 2px solid #CDCED2;
    display: flex;
    justify-content: left;
}

#id_images{
    display: none;
}

.post-preview-container{
    display: flex;
    flex-direction: row;
    gap: 1vw;
    flex-wrap: wrap;
}

.preview-image{
    width: clamp(0px, 15vw, 300px);
    height: clamp(0px, 27.5vh, 300px);
    border-radius: 16px;
}

.post-create-tag{
    width: 24px;
    height: 24px;
    border-radius: 1234px;
    background-color: #543C52;
    border: 0px;
    font-family: 'GTWalsheimPro';
}