.tag-modal-window {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0;
    z-index: 999;
}

.tag-modal-info{
    width: clamp(0px, 25vw, 500px) !important;
    height: clamp(0px, 35vh, 400px) !important;
    background-color: white;
    display: flex;
    justify-content:flex-start;
    align-items: top;
    flex-direction: column;
    gap: 2vh;
    border-radius: 20px;
    padding: clamp(0px, 1.5vh, 25px);
}

.tag-modal-form label{
    font-family: 'GTWalsheimPro';
}

.tag-modal-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: clamp(0px, 2vh, 40px);
}

.form-tags-div{
    display: flex;
    flex-direction: column;
    gap: clamp(0px, 0.5vw, 10px);
}