{% extends 'base.html' %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'home_app/css/home.css'%}">
    <link rel="stylesheet" href="{% static 'home_app/css/username.css'%}">
    <link rel="stylesheet" href="{% static 'post_app/css/post.css'%}">
    <link rel="stylesheet" href="{% static 'profile_app/css/profile.css'%}">
{% endblock %}

{% block meta %}
    <meta name="csrf_token" content = '{{ csrf_token }}'>
{% endblock %}

{% block sidebar %}
    <div class="profile-block">
        <div class="profile-img">
            <div class='online-marker' data-id ='{{ profile_user.id }}'></div>
        </div>
        
    <h1 id="name">{{ profile_user.first_name }}</h1>

    <h3 id="username">{{ profile_user.username }}</h3>
        
        <div class="info-profile">
            
            <div class="info">
                <h1 class="count">566</h1>
                
                <h3 class="description">Дописи</h3>
            </div>

            <div class="vertical-line"></div>

            <div class="info">
                <h1 class="count">12.1К</h1>
                <h3 class="description">Читачі</h3>
            </div>

            <div class="vertical-line"></div>
            
            <div class="info">
                <h1 class="count">222</h1>
                <h3 class="description">Друзі</h3>
            </div>

        </div>

        <div class="buttons">
            {% if friendship == "request" %}
                <button data-url="{% url 'friends_actions' 'accept' profile_user.id %}" class="friend-action-btn first-button">Підтвердити</button>
                <button data-url="{% url 'friends_actions' 'delete' profile_user.id %}" class="friend-action-btn second-button">Відхилити</button>
            {% endif %}

            {% if friendship == "recommendation" %}
                <button data-url="{% url 'friends_actions' 'add' profile_user.id %}" class="friend-action-btn first-button">Дотати</button>
                <button data-url="{% url 'friends_actions' 'ignore' profile_user.id %}" class="friend-action-btn second-button">Видалити</button>
            {% endif %}
        </div>
    </div>
{% endblock%}

{% block content %}
    <div id="post-list">

        {% include "profile_app/particles/post_list.html" %}

        <div id="load-post-line" style="width: 100%; height: 1vh;"></div>

    </div>
{% endblock %}

{% block modal %}
    {% if not user.first_name %}
        {% include "home_app/particles/username.html" %}
    {% endif %}
{% endblock %}

{% block scripts %}
    <script src="{% static 'home_app/js/home.js' %}"></script>
    <script src="{% static 'profile_app/js/profile.js' %}"></script>
    <script>
        const MINUS_ICON = "{% static 'post_app/images/minus_link.png' %}"
    </script>

    <script>
        const DELETE_BUTTON = "{% static 'post_app/images/delete_photo.png' %}"
    </script>
{% endblock %}