{% load static %}

<div class="chat-settings">
    <div class="close-button">
        <img src="{% static 'chat_app/images/settings_chat.png' %}">
    </div>

    <div class="settings-buttons">
        <div class="button edit">
            <img src="{% static 'chat_app/images/chat-edit.png' %}">
            <h4>Редагувати групу</h4>
        </div>

        <hr>

        <div class="button delete-admin">
            <img src="{% static 'chat_app/images/chat-delete.png' %}">
            <h4>Видалити чат</h4>
        </div>
    </div>
</div>