{% load static %}

<div class="create-group-modal modal-window" style="display: none;">
    <div class="modal-info group-modal">
        <div class="close-div-button">
            <button class="close-create-chat-modal">
                <img src="{% static 'post_app/images/modal-exit.png' %}" alt="">
            </button>
        </div>

        <h2>Нова група</h2>
        
        <div class="div-input">
            <img src="{% static 'chat_app/images/search.png' %}" alt="">

            <input type="text" placeholder="Пошук">
        </div>
        
        <div class="selected-friends">
            <h4>Вибрано: n</h4>
        </div>
        
        <div class="friends-div">
            <div class="friend-list">
                {% for key, section in friends.items %}
                    {% for user in section %}
                        <label class="user-item">
                            <h4>{{ user.first_name }}</h4>
                            <input data-id="{{ user.id }}" type="checkbox">
                        </label>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>

        <div class="chat-function-buttons">
            <button type="button" class="close-create-chat-modal second-button">Скасувати</button>
            <button type="button" class="next-create-chat-modal first-button">Далі</button>
        </div>
    </div>
</div>