{% load static %}
{% load get_chat_data %}

<div class="right-block-chat">
    <div class="message-right-block-chat">
        <div class="name-right-block-chat">
            <div class="name-chat-div right">

                <img src="{% static 'images/chats.png' %}" alt="">
                <div class="right-block-info">
                    <h4>Повідомлення</h4>
                    <div class = "main-unread-indiv" style="display: none;"></div>
                    
                </div>

            </div>
        </div>

        <div class="chat-div">
            {% for chat_data in individual_chats %}
                <div class="chat" data-id="{{ chat_data.chat_id }}" data-name = "{{ chat_data.other_user.first_name }}">
                    <div class="chat-div-user">
                        
                        <div class="profile-img">
                            <div class = 'online-marker' data-id = '{{ chat_data.other_user.id }}' ></div>
                        </div>
                        <div class="text-chat">
                            <div class="chat-info-div">
                                <h3>{{ chat_data.other_user.first_name }}</h3>
                                {% get_unreaded_messages chat_data.chat_id user as count %}
                                {% if count > 0%}
                                    <h6 class="unread">{{ count }}</h6>
                                {% endif %}
                            </div>

                            <div class="chat-last-message-info">
                                <h5>{{ chat_data.last_message.text }}</h5>
                                <h5>{{ chat_data.last_message_date }}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="chats-right-block-chat">
        <div class="name-right-block-chat">
            <div class="name-chat-div">

                <img src="{% static 'images/chats.png' %}" alt="">
                <div class="right-block-info">
                    <h4>Групові чати</h4>
                    <div class = "main-unread-group" style="display: none;"></div>
                </div>

            </div>
        </div>

        <div class="chat-div-group">
            {% for chat_data in group_chats %}
                <div class="chat" data-id="{{ chat_data.chat_id }}"  data-name = "{{ chat_data.chat_name }}">
                    <div class="chat-div-user">
                        <div class="profile-img"></div>
                        <div class="text-chat">
                            <div class="chat-info-div">
                                <h3>{{ chat_data.chat_name }}</h3>
                                {% get_unreaded_messages chat_data.chat_id user as count %}
                                {% if count > 0%}
                                    <h6 class="unread">{{ count }}</h6>
                                {% endif %}
                            </div>
    
                            <div class="chat-last-message-info">
                                <h5>{{ chat_data.last_message.text }}</h5>
                                <h5>{{ chat_data.last_message_date }}</h5>
                            </div>
                            
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>