@font-face {
    font-family: 'Nunito-Regular';
    src: url('../fonts/Nunito-Regular.ttf') format('truetype');
    font-weight: normal; 
    font-style: normal;
}

h1{
    font-family: 'Nunito-Regular';
}
h2{
    font-family: 'Nunito-Regular';
}
h3{
    font-family: 'Nunito-Regular';
}

body{
    background: #FAF8FF;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    
}

header{
    width: 100%;
    height: 6vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    background: white;
}

#logo{
    max-height: 2vh;
    width: 8vw;
}

header nav{
    display: flex;
    flex-direction: row;
    gap: 2vw;
}

header a{
    font-size: 1.2rem;
    text-decoration: none;
    color:  #070A1C;
    font-weight: black;
    font-family: "Nunito-Regular";
}

header div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.4vw;
}

header button{
    width: 5vw;
    height: 4vh;
    border-radius: 30px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.4vw;
    align-items: center;
    border: 1px solid #543C52;
    font-family: "Nunito-Regular";
}

.select a{
    font-size: 1vw;
}

.redirect-link a{
    font-size: 1vw;
}

.select{
    background-color: #E9E5EE;
}