@font-face {
    font-family: 'Nunito-Regular';
    src: url('../fonts/Nunito-Regular.ttf') format('truetype');
    font-weight: normal; 
    font-style: normal;
}

h1{
    font-family: 'Nunito-Regular';
}
h2{
    font-family: 'Nunito-Regular';
}
h3{
    font-family: 'Nunito-Regular';
}

body{
    background: #FAF8FF;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: clamp(20px, 1vw, 1px);
}

.content{
    width: clamp(0px, 58vw, 1150px);
}

header{
    width: 100%;
    height: 6vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: white;
    gap: clamp(1vw, 43vw, 860px);
    position: sticky;
    top: 0;
}

#logo{
    height: clamp(0px, 3vw, 18px);
    width: clamp(0px, 13vw, 120px);
}

header nav{
    display: flex;
    flex-direction: row;
    gap: clamp(0px, 1.2vw, 25px);
}

header a{
    text-decoration: none;
    color:  #070A1C;
    font-weight: black;
    font-family: "Nunito-Regular";
}

header div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.4vw;
}

.exit{
    width: clamp(0px, 4vw, 85px);
    height: clamp(0px, 2vw, 30px);
    border-radius: 30px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid #543C52;
    font-family: "Nunito-Regular";
    gap: clamp(0px, 0.5vw, 8px);
    font-size: clamp(0px, 0.8vw, 0.85rem);
}

button img{
    width: clamp(0px, 0.8vw, 13px);
}

.select a{
    font-size: clamp(0px, 1vw, 1rem);
}

.select img{
    width: clamp(0px, 1vw, 15px);
}

.redirect-link a{
    font-size: clamp(0px, 1vw, 1rem);
}

.redirect-link img{
    width: clamp(0px, 1vw, 15px);
}

.select img{
    width: clamp(0px, 1vw, 15px);
}

.select{
    background-color: #E9E5EE;
}