{% load static %}

<div class="post-modal-window" style="display: none;">
    <div class="post-modal-info">
        
            <div class="post-button-exit">
                <button class="post-modal-exit">
                    <img src="{% static 'post_app/images/modal-exit.png' %}" alt="">
                </button>
            </div>

        <h1>Створення публікації</h1>

        <div class="post-modal-form-div">
            
            <div class="post-error-container"></div>
            
            <form method="post" action="" class="post-modal-form" enctype="multipart/form-data">
                <p>Назва публікації</p>
                {{ form_post.title}}
                <p>Тема публікації</p>
                {{ form_post.topic}}
                
                <div class="form-tags-div">
                    {{ form_post.tags}}
                    <img class="post-create-tag" src="{% static 'post_app/images/plus_link.png' %}" alt="">
                </div>
                
                {{ form_post.content}}

                <div class="post-list-links">
                    <input type="url" name="links" placeholder="Введіть посилання">

                    <img class="post-create-link" src="{% static 'post_app/images/plus_link.png' %}" alt="">
                </div>

                <div class="post-preview-container"></div>

                <div class="confirm-post-button">
                    {{ form_post.images }}
                    
                    <img id="photo-img" src="{% static 'post_app/images/add_photo.png' %}" alt="">

                    <button class="confirm" type="submit">
                        Публікація
                        <img src="{% static 'post_app/images/post_image.png' %}" alt="">
                    </button>
                </div>
                
            </form>
        
        </div>
    </div>
</div>
