{% load static %}

{% for post in posts %}
    <div class="post">
        <div class="first-name">
            <h3>{{ user.first_name }}</h3>
            <img src="{% static 'post_app/images/property.png' %}" alt="">
        </div>


        <div class="content-post">
            <h4>{{ post.title }}</h4>
            <h4>{{ post.topic }}</h4>
            <p>{{ post.content }}</p>

            <!-- <ul>
                {% for tag in post.tags.all %}
                    <li>{{ tag.name }}</li>
                {% endfor %} 
            </ul> -->

            <div class="links-post">
                {% for link in post.postlink_set.all %}
                    <a href = {{link.url}} >{{link.url}}</a>
                {% endfor %} 
            </div>

            <div class="image-post">
                {% for image in post.postimage_set.all %}
                <img src="{{ image.compressed.url }}">
            {% endfor %}
            </div>
        </div>
    </div>
{% endfor %}