{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{% static 'css/base.css'%}">

    {% block links %}
    {% endblock %}
    
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
<body>
    <header>
        <img src="{% static 'images/logo.png' %}" alt="" id = 'logo'>

        <nav>
            <div class="redirect-link home-link">
                <img src="{% static 'images/home.png' %}" alt="">
                <a href="{% url 'home_page' %}">Головна</a>
            </div>

            
            <div class="redirect-link posts-link">
                <img src="{% static 'images/posts.png' %}" alt="">
                <a href="{% url 'post_page' %}">Мої публікації</a>
            </div>

            <div  class="redirect-link friends-link">
                <img src="{% static 'images/friends.png' %}" alt="">
                <a href="{% url 'friends_page' %}">Друзі</a>
            </div>

            <div class="redirect-link">
                <img src="{% static 'images/chats.png' %}" alt="">
                <a href="{% url 'home_page' %}">Чати</a>
            </div>

            <div class="redirect-link settings-link">
                <img src="{% static 'images/settings.png' %}" alt="">
                <a href="{% url 'settings_page' %}">Налаштування</a>
            </div>
            
            <button class="exit">
                <img src="{% static 'images/exit.png' %}" alt="">
                Вихід
            </button>
        </nav>
    </header>
    
    <div class="sidebar">
        {% block sidebar %}
        {% endblock %}
    </div>

    <div class="content">
        {% block content %}
        <h1>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt, error. Ipsa a, id aperiam quasi facilis similique at! Asperiores doloremque hic fuga cupiditate ratione itaque quo quos dolores unde est accusantium quisquam eveniet explicabo, repellendus tenetur accusamus illo a fugiat? Ullam impedit iusto inventore dolorem ad nisi repudiandae pariatur quidem?</h1>
        {% endblock %}
    </div>
    
    {% block scripts %}
    {% endblock %}
    <script src="{% static 'js/base.js' %}"></script>
</body>
</html>