@font-face {
    font-family: 'GTWalsheimPro';
    src: url('../fonts/GTWalsheimPro-Medium.ttf') format('truetype');
    font-weight: normal; 
    font-style: normal;
}

.sidebar{
    width: clamp(0px, 24.2vw, 460px);
    height: clamp(0px, 90vh, 972px);
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.content{
    height: clamp(0px, 90vh, 972px) !important;
    display: flex;
    flex-direction: row;
    gap: 1vw;
}

.settings-button{
    width: 12vw;
    background-color: #FAF8FF;
    border: none;
    font-family: 'GTWalsheimPro';
    display: flex;
    align-items: flex-start;
    color: gray;
}

.hidden{
    display: none;
}

.select-button{
    font-size: clamp(0px, 1.1vw, 1.1rem);
    color: black !important;
    text-decoration: underline;
    text-underline-offset: 6px;
}

.modal-window{
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0;
    z-index: 999;
}

.modal-info{
    width: clamp(0px, 25vw, 500px);
    height: clamp(0px, 50vh, 500px);
    background-color: white;
    display: flex;
    justify-content: top;
    align-items: center;
    flex-direction: column;
    gap: 2vh;
    border-radius: 20px;
    padding: 20px;
}

.modal-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-form-div{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.modal-form p{
    font-family: "GTWalsheimPro";
    display: flex;
    flex-direction: column;
    gap: clamp(0px, 1vh, 17px);
}

.modal-form p input{
    height: clamp(0px, 4vh, 50px);
    width: clamp(0px, 20vw, 400px);
    border-radius: 10px;
    border: 2px solid #CDCED2;
}

.error{
    font-family: 'GTWalsheimPro';
}

h4{
    padding: 0;
    margin: 0;
    font-family: 'GTWalsheimPro';
}

.side-block-chat{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    height: 100%;
    gap: 1.5vh;
}

.side-block-chat input{
    height: clamp(0px, 3.8vh, 42px);
    border-radius: 10px;
}

.create-chat-btn{
    width: 100%;
    display: flex;
    flex: row;
    justify-content: center;
    align-items: center;
    gap: clamp(0px, 0.2vw, 4px);
    height: clamp(0px, 4vh, 35px);
    border-radius: 1234px;
    background-color: #543C52;
    color: white;
    border: 0px;
    font-family: 'GTWalsheimPro';
}

.main-block-chat{
    width: 40vw;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.right-block-chat{
    display: flex;
    flex-direction: column;
    gap: 1vh;
    height: 100%;
}

.message-right-block-chat{
    width: clamp(0px, 24.2vw, 460px);
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    height: 50%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.chats-right-block-chat{
    width: clamp(0px, 24.2vw, 460px);
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    height: 50%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.name-right-block-chat{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.right-block-chat button{
    font-size: 1rem;
    background-color: white;
    border: none;
    font-family: 'GTWalsheimPro';
    display: flex;
    align-items: flex-start;
}

.name-chat-div{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 0.4vw;
}

.first-button{
    background-color:  #543C52;
    border-radius: 1234px;
    font-family: 'GTWalsheimPro';
    display: flex;
    align-items: flex-start;
    width: clamp(0px, 2.8vw, 55px);
    height: clamp(0px, 4vh, 40px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    border: none;
}

.second-button{
    width: clamp(0px, 5vw, 94px);
    height: clamp(0px, 4vh, 40px);
    background-color: white ;
    border-radius: 1234px;
    font-family: 'GTWalsheimPro';
    border: 2px solid #543C52;
    color: #543C52;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.close-div-button{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.close-div-button button{
    background: none;
    border: none;
}

.chat-function-buttons{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 1vw;
}

.friends-div{
    width: 80%;
}

.friend-list{
    height: clamp(0px, 40vh, 432px);
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.user-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.group-modal{
    width: clamp(0px, 25vw, 500px);
    height: clamp(0px, 72vh, 777px);
}

.group-modal-settings{
    width: clamp(0px, 25vw, 500px);
    height: clamp(0px, 59vh, 635px);
}

.div-input input{
    width: 100%;
    height: clamp(0px, 3.8vh, 42px);
    border-radius: 10px;
}

.div-input{
    width: 80%;
}

.group-modal-settings input{
    width: 80%;
    height: clamp(0px, 3.8vh, 42px);
    border-radius: 10px;
}

.selected-users{
    height: clamp(0px, 18vh, 192px);
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.contact-div-users{
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.user-friends-div{
    height: clamp(0px, 4.2vh, 46px) ;

}

.chat-div{
    display: flex;
    flex-direction: column;
}

.chat{
    height: clamp(0px, 5.7vh, 62px);
    background-color: #E9E5EE;
}

