@font-face {
    font-family: 'GTWalsheimPro';
    src: url('../fonts/GTWalsheimPro-Medium.ttf') format('truetype');
    font-weight: normal; 
    font-style: normal;
}

@font-face {
    font-family: 'GTWalsheimPro-Light';
    src: url('../fonts/GTWalsheimPro-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.sidebar{
    width: clamp(0px, 24.2vw, 460px);
    height: clamp(0px, 90vh, 972px);
    display: flex;
    flex-direction: column;
    gap: clamp(0px, 1vh, 20px);
}

.content{
    height: clamp(0px, 90vh, 972px) !important;
    display: flex;
    flex-direction: row;
    gap: 1vw;
}

.settings-button{
    width: 12vw;
    background-color: #FAF8FF;
    border: none;
    font-family: 'GTWalsheimPro';
    display: flex;
    align-items: flex-start;
    color: gray;
}

.hidden{
    display: none;
}

.select-button{
    font-size: clamp(0px, 1.1vw, 1.1rem);
    color: black !important;
    text-decoration: underline;
    text-underline-offset: 6px;
}

.modal-window{
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0;
    z-index: 999;
}

.modal-info{
    width: clamp(0px, 25vw, 500px);
    height: clamp(0px, 50vh, 500px);
    background-color: white;
    display: flex;
    justify-content: top;
    align-items: center;
    flex-direction: column;
    gap: clamp(0px, 2vh, 40px);
    border-radius: 20px;
    padding: 20px;
}

.modal-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-form-div{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.modal-form p{
    font-family: "GTWalsheimPro";
    display: flex;
    flex-direction: column;
    gap: clamp(0px, 1vh, 17px);
}

.modal-form p input{
    height: clamp(0px, 4vh, 50px);
    width: clamp(0px, 20vw, 400px);
    border-radius: 10px;
    border: 2px solid #CDCED2;
}

.error{
    font-family: 'GTWalsheimPro';
}

.not-select{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
}

h4{
    padding: 0;
    margin: 0;
    font-family: 'GTWalsheimPro-Light';
}

.side-block-chat{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    height: 100%;
    gap: 1.5vh;
    overflow-y: auto;
    scrollbar-width: none;
}

.side-block-chat input{
    height: clamp(0px, 3.8vh, 42px);
    border-radius: 10px;
    border: 1px solid #CDCED2;
}

.create-chat-btn{
    width: 100%;
    display: flex;
    flex: row;
    justify-content: center;
    align-items: center;
    gap: clamp(0px, 0.2vw, 4px);
    height: clamp(0px, 4vh, 35px);
    border-radius: 1234px;
    background-color: #543C52;
    color: white;
    border: 0px;
    font-family: 'GTWalsheimPro';
}

.main-block-chat{
    width: 40vw;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.right-block-chat{
    display: flex;
    flex-direction: column;
    gap: clamp(0px, 1vh, 20px);
    height: 100%;
}

.message-right-block-chat{
    width: clamp(0px, 24.2vw, 460px);
    background-color: white;
    border-radius: 10px;
    height: 50%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.chats-right-block-chat{
    width: clamp(0px, 24.2vw, 460px);
    background-color: white;
    border-radius: 10px;
    height: 50%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.name-right-block-chat{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.right-block-chat button{
    font-size: 1rem;
    background-color: white;
    border: none;
    font-family: 'GTWalsheimPro';
    display: flex;
    align-items: flex-start;
}

.name-chat-div{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: clamp(0px, 0.4vh, 9px);
}

.first-button{
    background-color:  #543C52;
    border-radius: 1234px;
    font-family: 'GTWalsheimPro';
    display: flex;
    align-items: flex-start;
    width: clamp(0px, 3.5vw, 70px);
    height: clamp(0px, 4vh, 40px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    border: none;
}

.second-button{
    width: clamp(0px, 5vw, 94px);
    height: clamp(0px, 4vh, 40px);
    background-color: white ;
    border-radius: 1234px;
    font-family: 'GTWalsheimPro';
    border: 2px solid #543C52;
    color: #543C52;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.close-div-button{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.close-div-button button{
    background: none;
    border: none;
}

.chat-function-buttons{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: clamp(0px, 1vw, 20px);
}

.friends-div{
    width: 80%;
}

.friend-list{
    height: clamp(0px, 40vh, 432px);
    display: flex;
    flex-direction: column;
    gap: clamp(0px, 1vh, 20px);
}

.user-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.group-modal{
    width: clamp(0px, 31vw, 500px);
    height: clamp(0px, 72vh, 777px);
}

.group-modal-settings{
    width: clamp(0px, 31vw, 500px);
    height: clamp(0px, 59vh, 635px);
}

.div-input input{
    width: 94%;
    height: clamp(0px, 3.8vh, 42px);
    border: 0;
}

.div-input{
    width: 80%;
    display: flex;
    flex-direction: row;
    border-radius: 10px; 
    border: 1px solid #CDCED2; 
    align-items: center;
    padding-left: 10px;
}

.group-modal-settings input{
    width: 100%;
    height: clamp(0px, 3.8vh, 42px);
    border-radius: 10px;
    border: 1px solid #CDCED2;
}

.selected-users{
    height: clamp(0px, 18vh, 192px);
    display: flex;
    flex-direction: column;
    gap: clamp(0px, 1vh, 20px);
    width: 80%;
}

.contact-div-users{
    display: flex;
    flex-direction: column;
    gap: clamp(0px, 2vh, 40px);
}

.user-friends-div{
    height: clamp(0px, 4.2vh, 46px);
    display: flex;
    flex-direction: row;
    gap: 1vw;
    align-items: center;
}

.chat-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chat{
    height: clamp(0px, 5.7vh, 62px);
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1vw;
    justify-content: right;
}

.chat-div-user{
    height: 100%;
    width: 94%;
    display: flex;
    flex-direction: row;
    gap: 1vw;
    justify-content: left;
    align-items: center;
}

.selected-chat{
    background-color: #E9E5EE;
}

#id_images{
    display: none;
}

p{
    font-family: 'GTWalsheimPro';
    padding: 0;
    margin: 0;
}

.group-modal-settings form{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 1vh;

}

.selected-users button{
    background-color: white;
    border: 0;
}

.selected-users div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.div-input img{
    width: clamp(0px, 1.5vw, 15px);
    height: clamp(0px, 1.5vh, 15px);
}

#chat{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

#name{
    height: 7%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5vh;
}

#message::-webkit-scrollbar {
  display: none;
}

#messages{
    height: 85.5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: clamp(0px, 2.5vh, 40px);
    overflow-y: auto;
    scrollbar-width: none;
}

#control-elements input{
    width: 70%;
    height: clamp(0px, 3.8vh, 42px);
    border-radius: 10px;
    border: 1px solid #CDCED2;
}

#control-elements{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.chat-menu{
    display: flex;
    flex-direction: row;
    gap: 1vw;
}

#name hr{
    padding: 0;
    margin: 0;
    background-color: #CDCED2;
    border: none;
    height: 2px;
}

.group-add-photo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1vw;
}

#not-selected-info{
    text-align: center;
}

.chat h3{
    font-family: "GTWalsheimPro-Light";
}

.profile-img{
    width: 46px;
    height: 46px;
    background-color: #F9F6EE;
    border-radius: 1234px;
    border: 1px solid gray;
    position: relative;
}

.status{
    width: 40%;
    height: 40%;
    position: absolute;
    top: 30px;
    left: 28px;
}

.message{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: clamp(0px, 24vw, 493px);
    height: auto;
    gap: 1vh;
}

.user-message{
    border-radius: 6px;
    border: 2px solid #E9E5EE;
    display: flex;
    flex-direction: column;
    width: 70%;
    height: auto;
    gap: 0.6vh;
    padding: 10px;
}

h5{
    margin: 0;
    padding: 0;
    font-family: "GTWalsheimPro-Light";
}

h6{
    margin: 0;
    padding: 0;
    font-family: "GTWalsheimPro-Light";
}

.date-time{
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.own-message{
    background-color: #CDCED2;
    border: 2px;
    width: 30%;
}

.div-own-msg{
    display: flex;
    flex-direction: row;
    justify-content: right;
    width: 100%;
}

.text{
    overflow-wrap: break-word;
}

.date-title-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.date-title-for-center{
    width: 17%;
    height: 120%;
    background-color: #E9E5EE;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#load-message-line{
    height: 1vh
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 4px;
  
  outline: 2px solid #543C52;
  outline-offset: -2px; 
  cursor: pointer;
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: 12px 12px;
}

input[type="checkbox"]:checked {
  background-image: url("../images/check_mark.png");
}

#name-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#name-left-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vw;
}

#message-files{
    display: none;
}