{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <meta name="csrf_token" content = '{{ csrf_token }}'>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="registration-content">
            <div class="switch">
                <button id='main-btn' class="settings-button register-button select-button">Реєстрація</button>
                <button id='requests-btn' class="settings-button auth-button">Авторизація</button>
            </div>

            <div class = 'register-form'>
                <div class="error_container"></div>
                {% include "user_app/particles/form_register.html" %}
            </div>

            <div class = 'login-form hidden-form'>
                {% include "user_app/particles/form_login.html" %}
            </div>
            
            <div class = 'confirm-form hidden-form'>
                {% include "user_app/particles/form_confirm_email.html" %}
            </div>
            
        </div>
    </div>
    <img src="{% static 'user_app/images/registration.png' %}" alt="">
    
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'user_app/css/entrance.css'%}">
{% endblock %}

{% block scripts %}
    <script src="{% static 'user_app/js/entrance.js' %}"></script>
{% endblock %}