{% extends 'base.html' %}

{% block meta %}
    <meta name="csrf_token" content = '{{ csrf_token }}'>
{% endblock %}

{% block content %}
    <h1>Hi</h1>
{% endblock%}

{% block modal %}
    {% if not user.first_name %}
        {% include "user_app/particles/username.html" %}
    {% endif %}
{% endblock %}

{% block scripts %}
    <script src="{% static 'home_app/js/home.js' %}"></script>
{% endblock %}

{% block modal %}
    {% if not user.first_name %}
        {% include "user_app/particles/username.html" %}
    {% endif %}
{% endblock %}