{% for user in users %}
    <div class="card">
        <div class="profile-img"></div>
        
        <h3>{{ user.first_name }}</h3>

        <h4>{{ user.username }}</h4>
        
        {% if section == "requests" %}
            <div class="card-buttons">
                <button data-profile="{% url 'profile_page' user.id %}" class="friend-action-btn first-button">Підтвердити</button>
                <button data-profile="{% url 'profile_page' user.id %}" class="friend-action-btn second-button">Відхилити</button>
            </div>

        {% elif section == "friends" %}
            <div class="card-buttons">
                <button class="first-button">Повідомлення</button>
                <button data-url="{% url 'friends_actions' 'delete' user.id %}" class="friend-action-btn second-button">Видалити</button>
            </div>

        {% elif section == "recommendations" %}
            <div class="card-buttons">
                <button data-profile="{% url 'profile_page' user.id %}" class="friend-action-btn first-button">Дотати</button>
                <button data-profile="{% url 'profile_page' user.id %}" class="friend-action-btn second-button">Видалити</button>
            </div>
        {% endif %}
    </div>
{% endfor %}