{% extends 'base.html' %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'home_app/css/home.css'%}">
{% endblock %}

{% block sidebar %}
    <div class="profile-block">
        <img src="{% static 'images/profile_image.png' %}" alt="" id="profile-image">
        
        <h1 id="name">Lina Li</h1>

        <h3 id="username">@thelili</h3>
        
        <div class="info-profile">
            
            <div class="info">
                <h1 class="count">566</h1>
                <h3 class="description">Дописи</h3>
            </div>

            <div class="vertical-line"></div>

            <div class="info">
                <h1 class="count">12.1К</h1>
                <h3 class="description">Читачі</h3>
            </div>

            <div class="vertical-line"></div>
            
            <div class="info">
                <h1 class="count">222</h1>
                <h3 class="description">Друзі</h3>
            </div>

        </div>
    </div>
{% endblock%}