{% load static %}

<div class="block request">
    <div class = 'name-block'>
        <div class="block-side-info">
            <img src="{% static 'images/friends.png' %}" alt="">
            <h2>Запити</h2>
        </div>

        <h3>Дивитись всі</h3>
    </div>
    <div class="example-request"></div>
    <div class="example-request"></div>
    <div class="example-request"></div>
    
</div>

<div  class="block friends">
    <div class = 'name-block'>
        <div class="block-side-info">
            <img src="{% static 'images/chats.png' %}" alt="">
            <h2>Друзі</h2>
        </div>
        
        <h3>Дивитись всі</h3>
    </div>
    <div class="example-friends"></div>
    <div class="example-friends"></div>
    <div class="example-friends"></div>
</div>