{% load static %}

<div class="post-modal-window" style="display: none;">
    <div class="post-modal-info">
        
            <div class="post-button-exit">
                <button class="post-modal-exit">
                    <img src="{% static 'post_app/images/modal-exit.png' %}" alt="">
                </button>
            </div>

        <h1>Стрворення публікації</h1>

        <div class="post-modal-form-div">
            
            <div class="post-error-container"></div>
            
            <form method="post" action="" class="post-modal-form">
                <p>Назва публікації</p>
                {{ post_form.title}}
                <p>Тема публікації</p>
                {{ post_form.topic}}
                
                {{ post_form.tags}}
                
                {{ post_form.content}}

                <div class="post-list-links">
                    <input type="url" name="link" placeholder="Введіть посилання">
                </div>
                <button class="post-create-link" type="button">+</button>

                <button class="confirm">
                    Публікація
                <img src="{% static 'home_app/images/post_image.png' %}" alt="">
                </button>
            </form>

        </div>
    </div>
</div>
