{% load static %}

<div class="post-modal-window" style="display: none;">
    <div class="post-modal-info">
        
            <div class="post-button-exit">
                <button class="post-modal-exit">
                    <img src="{% static 'post_app/images/modal-exit.png' %}" alt="">
                </button>
            </div>

        <h1>Стрворення публікації</h1>

        <div class="post-modal-form-div">
            
            <div class="post-error-container"></div>
            
            <form method="post" action="{% url 'post_page' %}" class="post-modal-form">
                <p>Назва публікації</p>
                {{ post_form.title}}
                <p>Тема публікації</p>
                {{ post_form.topic}}
                
                {{ post_form.tags}}
                
                {{ post_form.content}}

                <div class="post-list-links">
                    <input type="url" name="links" placeholder="Введіть посилання">

                    <img class="post-create-link" src="{% static 'post_app/images/plus_link.png' %}" alt="">
                </div>

                <div class="confirm-post-button">
                    <button class="confirm" type="submit">
                        Публікація
                        <img src="{% static 'post_app/images/post_image.png' %}" alt="">
                    </button>
                </div>
                
            </form>

        </div>
    </div>
</div>
