{% extends 'base.html' %}
{% load static %}


{% block links %}
    <link rel="stylesheet" href="{% static 'friends_app/css/friends.css'%}">
{% endblock %} 

{% block sidebar%}
    <button id='main-btn' class="settings-button select-button">Головна</button>
    <button id='requests-btn' class="settings-button">Запити</button>
    <button id='recomendations-btn' class="settings-button">Рекомендації</button>
    <button id='all-friends-btn' class="settings-button">Всі друзі</button>
{% endblock %}

{% block content %}
    <div class="section main-cnt">
        {% for key, section in sections.items %}
            <div class="section-background">
                <div class="section-top">
                    <h2>{{ section.title }}</h2>
                    <button>Дивитись усі</button>
                </div>
                
                <div class="section-cards">
                    {% include "friends_app/particles/friends_cards.html" with users=section.users section=key %}
                </div>
            </div>

        {% endfor %}
    </div>

    <div class="section requests-cnt hidden">
        <h1>Запити</h1>

        <div class="section-background">
            <div class="section-cards">
                {% include "friends_app/particles/friends_cards.html" with users=sections.requests.users section="requests" %}
            </div>
        </div>
    </div>

    <div class="section recomendations-cnt hidden">
        <h1>Рекомендації</h1>

        <div class="section-background">
            <div class="section-cards">
                {% include "friends_app/particles/friends_cards.html" with users=sections.recommendations.users section="recommendations" %}
            </div>
           
        </div>
    </div>

    <div class="section all-friends-cnt hidden">
        <h1>Всі друзі</h1>

        <div class="section-background">
            <div class="section-cards">
                {% include "friends_app/particles/friends_cards.html" with users=sections.friends.users section="friends" %}
            </div> 
    </div>
{% endblock %}

<!-- {% block modal %}
    {% if not user.first_name %}
        {% include "friends_app/particles/username.html" %}
    {% endif %}
{% endblock %} -->

{% block scripts %}
    <script src="{% static 'friends_app/js/buttons.js' %}"></script>
{% endblock %}

