{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="registration-content">
        <div class="switch"> 
            <button class="switch-button">Реєстрація</button>
            <button class="switch-button">Авторизація</button>
        </div>

        <form method="POST">
            <h3>Приєднуйтесь до World IT</h3>
            {{ form_reg.as_p }}
            <button class="confirm">Створити акаунт</button>
        </form>
    </div>
    <!-- <img src="{% static 'home_app/images/registration.png' %}" alt=""> -->
    
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'home_app/css/entrance.css'%}">
{% endblock %}